QBIT_URL=http://127.0.0.1:8080
QBIT_USERNAME=admin
QBIT_PASSWORD=change-me

RADARR_URL=http://127.0.0.1:7878
SONARR_URL=http://127.0.0.1:8989
PROWLARR_URL=http://127.0.0.1:9696

RADARR_QBIT_HOST=host.docker.internal
SONARR_QBIT_HOST=host.docker.internal
RADARR_QBIT_PORT=8080
SONARR_QBIT_PORT=8080

RADARR_DOWNLOAD_CLIENT_NAME=qBittorrent
SONARR_DOWNLOAD_CLIENT_NAME=qBittorrent

RADARR_ROOT_FOLDER=/media/Movies
SONARR_ROOT_FOLDER=/media/tv
RADARR_REMOTE_PATH=
SONARR_REMOTE_PATH=
RADARR_LOCAL_PATH=/downloads
SONARR_LOCAL_PATH=/downloads

BOOTSTRAP_TIMEOUT_SECONDS=180
BOOTSTRAP_MEDIA_DIR_MODE=0777

PROWLARR_ENABLE=true
PROWLARR_SERVER_URL_FOR_APPS=http://prowlarr:9696
PROWLARR_RADARR_NAME=Radarr
PROWLARR_SONARR_NAME=Sonarr
PROWLARR_RADARR_BASE_URL=http://radarr:7878
PROWLARR_SONARR_BASE_URL=http://sonarr:8989
PROWLARR_ENABLE_FLARESOLVERR=true
PROWLARR_FLARESOLVERR_NAME=FlareSolverr
PROWLARR_FLARESOLVERR_URL=http://flaresolverr:8191
